body {
    background-color: hsl(30, 38%, 92%);
  display: flex; 
  flex-direction: column;  
   justify-content: center;
  align-items: center; 
  min-height: 100vh;
}

.container {
    max-width: 35rem;
    display: flex;
  flex-direction: row;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img {
    max-width: 100%;
      height: auto;
}

